<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<<<<<<< HEAD
    
    <a href="/flights"> All Flights </a>
    <a href="/flights/new"> New Flight </a> 
=======
>>>>>>> parent of 85416eb (Bug in loading)
  </body>
</html>
